body{
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.call-button{
    border-radius: 50px;
}


.nav-link{
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

.navbar-nav > li{
    margin-left:8px;
    margin-right:8px;
}

.hero{
    background-image: url('https://danielkormos1993.github.io/zoli/hero.jpg');
    background-size: cover;
    background-position:center center;
    color: white;
}

.hero h1{
    font-weight: bold;
}

.btn{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: .9rem;
}

body > div{
    padding-top: 80px;
    padding-bottom: 80px;
}

h2{
    font-weight: bold;
    letter-spacing: 1px;
}

h2:after{
    content: '';
    display: block;
    margin-top: 20px;
    width: 30px;
    height: 3px;
    background-color: #007bff;
}

.card-title{
    font-weight: bold;
}

.card-text{
    color: #ccc;
}

.aboutus{
    background-image: url('https://danielkormos1993.github.io/zoli/aboutus.jpg');
    background-size: cover;
    background-position:center center;
}

.bg-secondary{
    background-color:#393e44!important;
}

.footer{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #ccc;
}