<div class="contact section" id="kapcsolat">
    <div class="container">
        <div class="row g-4">
            <div class="col col-sm-12 col-md-6">
                <h2 class="mb-4">Kapcsolat</h2>
                <a href="tel:+36 30 310 2441" class="contact__box mb-3 important">
                    <i class="bi bi-telephone-fill text-primary"></i>
                    <span  class="px-2">+36 30 310 2441</span>
                </a>
                <a href="mailto:locktursyskft@gmail.com" class="contact__box mb-3">
                    <i class="bi bi-envelope-fill text-primary"></i>
                    <span  class="px-2">locktursyskft@gmail.com</span>
                </a>
                <div class="contact__box mb-3">
                    <i class="bi bi-geo-alt-fill text-primary"></i>
                    <span class="px-2">9011 Győr</span>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6">
                <h2 class="mb-4">Szolgáltatási terület</h2>
                <div class="map">
                    <iframe title="szolgáltatási terület" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1389063.6425128079!2d18.383948747856103!3d47.15756207552187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741837bdf37e4c3%3A0xc4290c1e1010!2sMagyarorsz%C3%A1g!5e0!3m2!1shu!2shu!4v1621430589745!5m2!1shu!2shu" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>