<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="media/logo.png"  class="logo-img" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Menü nyitása">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#szolgaltatasaink">Szolgáltatásaink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#munkaink">Munkáink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rolunk">Rólunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kapcsolat">Kapcsolat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>