<div class="jumbotron hero section">
    <div class="container">
        <h1 class="display-4">Egyedi gép és célgép gyártás</h1>
        <hr class="my-4">
        <p class="lead">Vezérléstechnika nélkül ipari társadalmunk elképzelhetetlen lenne, lehetetlen lenne elérni a jelenlegi műszaki színvonalat. Vállalkozásunk, ennek megfelelően a megrendelő igényeit figyelembe véve (tervezéstől-átadásig) a legkülönbözőbb (pneumatikus, hidraulikus, villamos, elektronikus) szakemberekkel működik együtt.</p>
        <a href="tel:+36303102441" class="btn btn-success call-button"><i class="bi bi-telephone-fill" style="margin-right:5px"></i> +36 30 310 2441</a>
    </div>
</div>