<div class="services section" id="szolgaltatasaink">
    <div class="container">
        <h2 class="mb-4">Szolgáltatásaink</h2>
        <div class="row g-4">
            <div class="col col-sm-12 col-md-6 col-xxl-3 d-flex align-items-stretch">
                <div class="card bg-dark">
                    <img class="card-img-top" src="media/services/gep.jpg" alt="Egyedi gép és célgép kép">
                    <div class="card-body">
                        <h3 class="card-title">Egyedi gép és célgép</h3>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Gyártása</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Javítása</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Kiépítése</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Átalakítása</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6 col-xxl-3 d-flex align-items-stretch">
                <div class="card bg-dark">
                    <img class="card-img-top" src="media/services/elektropneumatikus.jpg" alt="Elektropneumatikus rendszerek, BUS rendszerek kép">
                    <div class="card-body">
                        <h3 class="card-title">Elektropneumatikus rendszerek, BUS rendszerek</h3>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Kiépítése</span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Átalakítása</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6 col-xxl-3 d-flex align-items-stretch">
                <div class="card bg-dark">
                    <img class="card-img-top" src="media/services/hidraulikus.jpg" alt="Hidraulikus rendszerek kép">
                    <div class="card-body">
                        <h3 class="card-title">Hidraulikus rendszerek</h3>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Építése</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6 col-xxl-3 d-flex align-items-stretch">
                <div class="card bg-dark">
                    <img class="card-img-top" src="media/services/profil.jpg" alt="Alumínium profil rendszerek kép">
                    <div class="card-body">
                        <h3 class="card-title">Alumínium profil rendszerek</h3>
                        <div>
                            <i class="bi bi-chevron-right"></i><span>Építése (BOSCH, ITEM)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>